<header class="site-header">
    <div class="header-main">
        <h1 id="title">
            <a href="{{ '/' | relative_url }}">{{site.title}}</a>
        </h1>
        <nav id="navigation">
            <a href="{{ '/' | relative_url }}">Home</a>
            {% assign nav_pages = site.pages | where_exp: 'p', 'p.title' | where_exp: 'p', 'p.nav_exclude != true' | sort: 'title' %}
            {% for page in nav_pages %}
                <a href="{{ page.url | relative_url }}">{{page.title}}</a>
            {% endfor %}
            <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
        </nav>
    </div>
    
    <div class="header-sub">
        <p id="description">{{site.description}}</p>
        <!-- 블로그 검색창 -->
        <div id="search-container">
            <input type="text" id="search-input" placeholder="검색..." />
            <ul id="results-container"></ul>
        </div>
    </div>
</header>
